In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd 
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/world', echo=False)
table_info = pd.read_sql('show tables', engine)
table_info

   Tables_in_world
0             city
1          country
2  countrylanguage